@font-face {
  font-family: 'Karrik';
  src: url("../typefaces/Karrik-Regular.woff");
  font-style: normal;
}


@font-face {
  font-family: 'Karrik';
  src: url("../typefaces/Karrik-Italic.woff");
  font-style: italic;
}

@font-face {
  font-family: 'Minipax';
  src: url("../typefaces/Minipax-Bold.woff");
  font-style: bold;
}

@font-face {
  font-family: 'Minipax';
  src: url("../typefaces/Minipax-Medium.woff");
  font-style: bold;
}

@font-face {
  font-family: 'Minipax';
  src: url("../typefaces/Minipax-Regular.woff");
  font-style: bold;
}

@font-face {
  font-family: 'Minipax';
  src: url("../typefaces/Minipax-SemiBold.woff");
  font-style: bold;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

:root {
  --gray: #f2f2f2;
  --dark-blue: #111726;
  --blue: #eaeef9;
  --red: #f9e3d9;
  --yellow: #fffdde;
  --minipax: 'Minipax', 'Times New Roman',
    Times,
    serif;
  ;
  --karrik: 'Karrik', Arial,
    Helvetica,
    sans-serif;
  ;
  --tick: 5px solid;
  --light: 2px solid;
  --radius: 7px;
}

.App {
  display: grid;
  grid-template-columns: 5fr 6fr;
}