.form-container {
    background-color: var(--gray);
    overflow: scroll;
    height: 100vh;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.form-container::-webkit-scrollbar {
    display: none;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.logo {
    font-family: var(--karrik);
    font-size: 20px;
    display: inline-block;
}

.logo::before {
    content: "";
    display: block;
    border-top: var(--tick);
    margin-top: 0.5em;
}

.theme-container {
    padding-top: 20px;
    display: flex;
    gap: 10px;

}

.theme {
    height: 30px;
    width: 30px;
    border: var(--light);
    border-radius: var(--radius);
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.theme:hover {
    transform: scale(1.1);
}

.theme:active {
    transform: scale(0.95);
}

.section {
    font-family: var(--karrik);
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
}

.section::before {
    content: "";
    display: block;
    border-top: var(--dotted);
    margin-top: 0.5em;
}

.form-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0 10px;

}

@media only screen and (max-width: 870px) {
    .form-grid {

        grid-template-columns: 1fr;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: var(--karrik);
    font-size: 16px;

}

.text-input {
    font-family: var(--karrik);
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    background-color: var(--gray);
    outline: none;
    border: var(--light);
    border-radius: var(--radius);
    text-indent: 10px;
    min-width: 0;

}

.wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    hyphens: manual;
}


@media only screen and (max-width: 650px) {
    .form-header {
        flex-direction: column;
    }
}