.resume-container {
    background-color: var(--dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    transition: background-color 1s ease-out;
    background-color: var(--blue);
    width: 80%;
    aspect-ratio: 0.7;
    font-size: 1vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* main */
.main {
    padding-left: 1em;
    padding-right: 3em;
}

.first-name {
    margin-top: 0.5em;
    font-family: var(--minipax-bold);
    font-size: 3.5em;
    display: inline-block;
}

.first-name::before {
    content: "";
    display: block;
    border-top: var(--tick);
    margin-top: 0.5em;
    margin-bottom: -0.2em;
}

.last-name {
    margin-top: -0.2em;
    font-family: var(--minipax);
    font-weight: normal;
    font-size: 3.5em;
}

.position {
    margin-top: 0.5em;
    font-family: var(--karrik);
    font-size: 1.6em;
    font-style: italic;
}

/* sidebar */

.sidebar {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-family: var(--minipax-bold);
    display: inline-block;
    font-size: 2.5em;
    padding-bottom: 0.5em;
}

.section-title::before {
    content: "";
    display: block;
    border-top: 0.3em solid black;
    margin-top: 0.8em;
    margin-bottom: -0.2em;
}

.sidebar-item {
    font-family: var(--karrik);
    font-size: 1.1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.sidebar-item::before {
    content: "";
    display: block;
    border-top: var(--dotted);
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

.about {
    font-style: italic;
    font-family: var(--karrik);
    font-size: 1.1em;
    line-height: 1.2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.work--title {
    font-family: var(--minipax);
    font-size: 1.6em;
    margin-bottom: 0.4em;
}

.work--position,
.work--place,
.work--time {
    font-family: var(--karrik);
    font-style: italic;
    font-size: 1.1em;
}

.work--place {
    margin-bottom: 0.5em;
    display: inline-block;
}

.work--time {
    margin-left: 0.8em;
    display: inline-block;
}

.work--text {
    font-family: var(--karrik);
    font-size: 1.1em;
    margin-bottom: 1em;

}